/* Navigation */
.navbar {
    flex-direction: column;
    transition: all 0.7s ease-out;
    align-items: center;
    overflow: hidden;
}
.logo img{
    height: 40px;
    margin: 3px 3px;
}

.nav-list{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 3px 3px;
}
.nav-list li{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 3px 3px;
}

.nav-list li a{
    font-size: 1rem;
    padding: 0px 0px;
    padding-bottom: 8px;
    margin: 3px 3px;
}
.rightNav{
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    margin: 3px 3px;
}
.rightNav li{
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 3px 3px;
}

.rightNav li a{
    font-size: 1rem;
    padding: 0px 0px;
    padding-bottom: 8px;
    margin: 3px 3px;
}

.burger{
    display: block;
    }
.h-nav-resp{
        height: 72px;
    }
.v-class-resp{
        opacity: 0;
}
/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 600px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

#services .box img{ 
    flex-direction: column;
    width: 100px;
    padding: auto;
    height: auto;
}

/* Clients section */
#clients{
    flex-wrap: wrap;
}

.client-item{
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
}
.client-item iframe{
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
}

.item{
    flex-wrap: wrap;
}

.iframe-container{
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
}

.iframe-container iframe{
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
}


/* Contact us section */
#contact-box form{
    width:80%;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}